@import "compass/css3/border-radius"
@import "compass/css3/inline-block"
@import "compass/css3/text-shadow"
@import "compass/css3/images"
@import "compass/css3/box-shadow"
@import "compass/css3/transform"
@import "compass/css3/columns"
@import "compass/css3/transition"
@import "sassy-buttons"

@import url(http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic)
@import url(http://fonts.googleapis.com/css?family=Yellowtail)
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900)
@import url(http://fonts.googleapis.com/css?family=Open+Sans)

$body-bc1: #262626
$body-bc2: #262626

// Horizontal dimensions
$main-width: 900px
$content-width: 700px
$aside-left: 100px
$aside-right: 100px

$font-title-color:#FEC30A
$font-heading-color: #D5D5D5
$font-color: #D5D5D5
$nav-font-color: adjust-lightness($font-color, -40)
$anchor-color: adjust-lightness($body-bc1, 10)
$link-color: #80DBFF

$button-color1: #1290B6
// $button-color1: $link-color
$button-color2: adjust-lightness($button-color1, -20)
$button-textcolor: #FFF

html
    font-size: 16pt

body
    margin: auto
    height: 100%
    background-repeat: no-repeat
    background-attachment: fixed
    +background-image(linear-gradient(to bottom, $body-bc1, $body-bc2))
    position: relative
    font-family: Lato, sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Lato', cursive
    +text-shadow(none)
    color: $font-heading-color
    text-indent: none

h2, h3, h4, h5, h6
    font-family: 'Lato', sans-serif
    font-style: bold

h1
    font-family: 'Lato', sans-serif
    font-weight: 400
    font-size: 2em
    line-height: 1.3em

h2
    font-weight: 400
    font-size: 1.2em
    font-style: italic
    color: $font-title-color
    line-height: 1.5em

h1
    +column-span(all)

.text_cell_render
    color: $font-color

p
    font-size: 1.0em
    line-height: 1.5em
    text-align: left
    // text-indent: 50px
    color: $font-color
    font-weight: 300

p > code
    font-style: Courier
    font-size: 0.9em
    color: $font-color

ul
    list-style-type: circle

a
    color: $link-color

div#main
    margin: 0 auto 0 auto
    width: $main-width

aside
    float: left
    display: inline
    width: $aside-left
    padding: 0 30px 0 30px
    li
        // font-family: Oswald, sans-serif
        font-family: Lato, sans-serif
        font-size: 1.0em
        color: $nav-font-color
        display: block
        text-align: right
        a
            text-decoration: none
            color: $nav-font-color
            // single-transition(color, 1)
            transition: color 0.5s
        a:hover
            color: $font-title-color

ul
    margin: 0
    padding: 0

aside#left-aside
    // This was only for debugging, to see where the block goes.
    // background-color: #FF0000

aside#right-aside
    background-color: #FF0000
    width: $aside-right
    li
        text-align: left

footer
    clear: left
    display: block
    width: 100%

#content-container
    float: left
    width: $content-width
    margin: 0 auto 0 auto
    overflow: auto

.anchor-link
    color: $anchor-color

div#content
    float: left
    width: 100%

.left p, .right p
    font-size: 0.9em
    width: 10em

.left
    float: left

.right
    float: right

.button
    @include sassy-button("simple", 5px, 0.7em, $button-color1, $button-color2, $button-textcolor, "inset")
    padding: 4px 4px 4px 4px
    margin: 0
    width: 150px
    line-height: 2
    height: 40px
    text-align: center
    margin-bottom: 10px
    &:focus
        outline: 0

#banner
    width: 100%
    margin: 3em auto 3em auto
    text-align: center
    overflow: hidden
    font-family: Lato, cursive
    +background-image(linear-gradient(to bottom, $body-bc1, $body-bc1))
    color: $font-title-color
    .ttext
        font-size: 2em
        vertical-align: center
    .minstrel
        font-size: 1.0em
        color: $nav-font-color
    #leadin
        font-family: Michroma, serif
        font-style: italic
        color:  #CCBE29
        font-size: 0.6em
        line-height: 400%
        padding: 0 6% 0 6%
        overflow: hidden
        float: left
        text-align: center

svg
    background: #FFFFFF
    +border-radius(10px)
    font-family: Georgia, serif
    font-size: 8pt
    // +scale(200%)
    width: 100%
    height: 100%

.prompt
    display: none


pre
    color: #707070
    font-size: 0.7em
    margin-left: 5%
    margin-right: 5%
    // border: 2px solid #111

.MathJax_Display span
    color: $link-color

@media screen and (max-width: 900px), screen and (max-device-width: 900px)
    #banner
        font-size: 0.7em
        margin: 0em auto 0em auto
        // border-style: solid
    div#main
        width: 100%
    h1
        font-size: 2.6em
    p
        // font-size: 1.3em
    .minstrel
        display: none
    div#content-container
        float: none
        width: 95%
        margin: 0px auto 0px auto
    aside
        float: none
        display: block
        font-size: 1em
        text-align: justify
        width: 70%
        margin: 0px auto 0px auto
        li
            display: inline-block
        ul:after
            content: ''
            display: inline-block
            width: 100%

@media screen and (max-width: 500px), screen and (max-device-width: 500px)
    #banner
        font-size: 0.5em
        margin: 0px auto
        width: 100%
        #leadin
            width: 60px
    h1
        font-size: 2.5em
    aside
        margin: 0 10px 20px 10px
        font-size: 0.8em
    #content-container
        width: 100%
    div#content
        width: 100%

