@import "compass/css3/border-radius"
@import "compass/css3/inline-block"
@import "compass/css3/text-shadow"
@import "compass/css3/images"
@import "compass/css3/box-shadow"
@import "compass/css3/transform"
@import "compass/css3/columns"
@import "sassy-buttons"

@import url(http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic)
@import url(http://fonts.googleapis.com/css?family=Yellowtail)
@import url(http://fonts.googleapis.com/css?family=Lato)
@import url(http://fonts.googleapis.com/css?family=Open+Sans)

$nav-text-shadow: 2px
// $nav-fc: #eee
$nav-fc: #1C2933
$nav-bg: #C5CCC2
$nav-fs: 0.6em

$body-bc1: #FEFFFC
$body-bc2: #FDFFFC

// Horizontal dimensions
$main-width: 900px
$content-width: 700px
$aside-left: 100px
$aside-right: 100px

body
    margin: auto
    height: 100%
    background-repeat: no-repeat
    background-attachment: fixed
    +background-image(linear-gradient(to bottom, $body-bc1, $body-bc2))
    position: relative
    font-size: 0.8em
    font-family: Rajdhani, sans-serif
    font-family: Lato, sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Lato', cursive
    +text-shadow(none)
    color: #000433

h2, h3, h4, h5, h6
    // font-weight: 1500
    padding-top: 15px
    font-family: 'Yellowtail', sans-serif
    font-style: bold 

h1
    font-family: 'Oswald', sans-serif
    font-weight: 700
    line-height: 51px
    font-size: 3em
    text-transform: uppercase
    margin: 0 0 23px 0

h2
    // font-family: 'Droid Serif', serif
    font-weight: 400
    // font-style: italic bold
    font-size: 2.0em
    line-height: 23px
    margin: 0 0 23px 0

h1
    +column-span(all)

p
    // font-family: 'Droid Serif', serif
    font-size: 18px
    line-height: 23px
    text-align: justify
    text-indent: 50px

p
    margin: 0 0 23px 0

div#main
    margin: 0 auto 0 auto
    width: $main-width

aside
    float: left
    display: inline
    width: $aside-left
    padding: 0 30px 0 30px
    li
        // font-family: Oswald, sans-serif
        font-family: Yellowtail, sans-serif
        font-size: 2em
        color: #332F00
        display: block
        text-align: right
        a
            text-decoration: none
            color: #332F00

ul
    margin: 0
    padding: 0

aside#left-aside
    // This was only for debugging, to see where the block goes.
    // background-color: #FF0000

aside#right-aside
    background-color: #FF0000
    width: $aside-right
    li
        text-align: left

footer
    clear: left
    display: block
    width: 100%

#content-container
    float: left
    width: $content-width
    margin: 0 auto 0 auto
    overflow: auto

.anchor-link
    color: #CCC2C2

div#content
    float: left
    width: 100%
    // +column-width(20em)  // 30-35 optimal
    // +column-gap(50px)

.left p, .right p
    font-size: 0.9em
    width: 10em
    

.left
    float: left

.right
    float: right

.button
    @include sassy-button("shiny", 10px, 1em, #73DEFF, #14A1CC, #333, "raised")
    padding: 4px 4px 4px 4px
    margin: 0

#banner
    width: 100%
    margin: 0 auto 2em auto
    text-align: center
    overflow: hidden
    font-family: Yellowtail, cursive
    // background-color: rgba(255, 20, 20, 0.2)
    // background: rgba(20,20,20,0.6)
    color: #000
    .ttext
        font-size: 5em
        vertical-align: center
    .minstrel
        font-size: 2em
    #leadin
        font-family: Michroma, serif
        font-style: italic
        color:  #332F00
        // position: absolute
        // left: -20%
        // top: 20px
        font-size: 0.6em
        background: #f00
        // width: auto
        line-height: 400%
        padding: 0 6% 0 6%
        overflow: hidden
        float: left
        text-align: center

svg
    // color: #FFF2F6
    background: #FFFFFF
    +border-radius(20px)
    font-family: Georgia, serif
    font-size: 8pt
    // +scale(200%)
    width: 100%
    height: 100%

.prompt
    display: none

@media screen and (max-width: 900px), screen and (max-device-width: 900px)
    body
        // font-size: 0.7em
    #banner
        font-size: 0.7em
        margin: 0em auto 0em auto
        // border-style: solid
    div#main
        width: 100%
    h1
        font-size: 2.6em
    p
        // font-size: 1.3em
    .minstrel
        display: none
    div#content-container
        float: none
        width: 95%
        margin: 0px auto 0px auto
        // margin-left: auto
        // margin-right: auto
        // display: block
    aside
        float: none
        display: block
        font-size: 1em
        text-align: justify
        width: 70%
        margin: 0px auto 0px auto
        li
            display: inline-block
        ul:after
            content: ''
            display: inline-block
            width: 100%

@media screen and (max-device-width: 900px)
    body
        font-size: 3em

@media screen and (max-width: 500px), screen and (max-device-width: 500px)
    body
        // font-size: 0.7em
    #banner
        font-size: 0.5em
        margin: 10px auto
        width: 90%
        #leadin
            width: 60px
    h1
        font-size: 2.5em
    aside
        margin: 0 10px 20px 10px
        font-size: 0.8em
    #content-container
        width: 100%
    div#content
        width: 100%

@media screen and (max-device-width: 500px)
    body
        font-size: 3em
