#banner {
    width: 300px;
    margin: 100px auto;
    background-color: #C9C3DB;
    box-shadow: 2px 2px 20px #042D49;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    text-align: center;

}

h1 {
    font-family: Schoolbell;
}
