@font-face {
    font-family: "FiraCode";
    src: url("/font/Fira_Code/FiraCode-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alice";
    src: url("/font/alice/Alice-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "InterBig";
    src: url("/font/Inter/Inter-VariableFont_slnt,wght.ttf");
    font-weight: bold;
    font-style: normal;
}

:root {
    --head-font-family: "Alice", sans-serif;
    --body-font-family: 'Inter', sans-serif;
    --code-font-family: 'FiraCode', monospace;
    --cursor-button: url("/img/gam1390.cur"), auto;

    /*--col1: hsla(20, 80%, 90%, 0.5);*/
    /*--col2: hsla(120, 80%, 10%, 0.3);*/

    /*--col3: hsla(220, 80%, 70%, 0.9);*/
    /*--col4: hsla(40, 90%, 40%, 0.9);*/

    --col1: hsla(20, 80%, 90%, 0.5);
    --col2: hsla(202, 100%, 56%, 0.3);

    --col3: hsla(220, 80%, 90%, 0.9);
    --col4: hsla(40, 90%, 60%, 0.9);
}

html {
  font-size: 18px;
  padding: 0;
  height: 100%;
  cursor: url("/img/gam1394.cur"), auto;
}

body {
  height: 100%;
  font-family: var(--body-font-family);
  margin: 0;
}

#app {
  display: flex;
  background-color: white;
  color: black;
}

.semifixed {
  position: fixed;
}

#banner {
  height: 50px;
  margin: 0 auto 0 auto;
  padding-top: 1%;
  text-align: center;
  overflow: hidden;
}

.ttext {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 2.5rem;
  font-variant: small-caps;
}

p.minstrel {
  font-size: 0.8em;
  font-style: italic;
  margin: 0;
}

p.ttext:hover, p.minstrel:hover {
  color: #a83f63;
}

div#main {
  margin: 0 auto 0 auto;
  width: 80%;
  max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--head-font-family);
  font-weight: bolder;
}

h1 {
  font-size: 64px;
  line-height: 1.2em;
}

h2 {
  font-size: 36px;
  line-height: 1.5em;
}

.inner_cell img {
  position: absolute; /* Position the image absolutely within its containing block */
  left: 50%; /* Move the image to the center of the parent */
  transform: translateX(-50%); /* Shift the image back by half its width to center it */
  max-width: none; /* Allow the image to exceed its natural width */
  width: auto; /* Ensure the image maintains its aspect ratio */
}

p, li {
  font-size: 1.0rem;
  line-height: 1.4em;
  text-align: justify;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

p > code {
  font-family: var(--code-font-family);
  font-size: 1.0em;
}

p.navinfo {
  position: absolute;
  font-size: 13px;
  top: 0;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.2;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 30px;
  padding: 0;
}

.pad10 {
  padding: 0 10px 0 10px;
}

aside#links {
  font-family: var(--body-font-family);
  top: 10px;
  left: 10px;
  line-height: 0.5;
  margin-top: 30px;
}
aside#links ul {
  margin: 0;
}
aside#links li {
  font-weight: bold;
  font-size: 1rem;
  font-variant: small-caps;
  display: block;
  margin: 0;
}
aside#links li a {
  font-weight: normal;
  text-decoration: none;
}

aside#links li a:hover {
  color: #a83f63;
}

footer {
  clear: left;
  display: block;
  width: 100%;
}

#content-container {
  width: 100%;
  margin-top: 20px;
}

.anchor-link {
  visibility: hidden;
  color: transparent;
}

div#content {
  width: 100%;
  /* min-height: 1000px; */
  margin-bottom: 10px;
    /*overflow-y: scroll;*/
}

div#metadata {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 100px;
}

#metadata p {
  margin: 0;
  padding: 0;
  font-size: 0.6rem;
  font-style: italic;
}

.left p, .right p {
  font-size: 0.9em;
  width: 10em;
}

.button {
    /* margin-top: 10px; */
}
/* line 15, G:/Programs/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  text-decoration: none;
}
/* line 36, G:/Programs/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  /* background-color: #513c5b; */
  /* background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4NjQ5OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzUxM2M1YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); */
  /* background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #886498), color-stop(100%, #513c5b)); */
  /* background: -moz-linear-gradient(#886498, #513c5b); */
  /* background: -webkit-linear-gradient(#886498, #513c5b); */
  /* background: linear-gradient(#886498, #513c5b); */
}
/* line 39, G:/Programs/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -moz-box-shadow: #493651 0 1px 2px inset;
  -webkit-box-shadow: #493651 0 1px 2px inset;
  box-shadow: #493651 0 1px 2px inset;
}
/* line 6, G:/Programs/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button.disabled, .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #5f466a;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, G:/Programs/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 246, ../sass/base.sass */
.button:focus {
  outline: 0 !important;
  font-weight: bold;
}
.button > i {
  /* font-size: 33px; */
  vertical-align: middle;
}

/* svg { */
/*   background: #FFFFFF; */
/*   -moz-border-radius: 10px; */
/*   -webkit-border-radius: 10px; */
/*   border-radius: 10px; */
/*   font-family: Georgia, serif; */
/*   font-size: 8pt; */
/*   width: 100%; */
/*   height: 100%; */
/* } */

.prompt {
  display: none;
}

pre {
  /* font-size: 0.7em; */
  font-family: var(--code-font-family) !important;
  font-size: 0.9rem;
  margin-left: 5%;
  margin-right: 5%;
  overflow: auto;
  padding: 5px;
}

div.highlight {
    font-size: 0.8rem;
    /*border: 1px solid #cfcfcf;*/
    /*border-radius: 4px;*/
    /*background: #f7f7f7;*/
    line-height: 1.21429em
}

div.output_wrapper {
    font-size: 0.8rem;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    background: lightyellow;
    line-height: 1.21429em;
    margin-top: 20px;
}

div.cell {
    margin-top: 20px;
}

pre > code {
  font-family: var(--code-font-family);
}

/* line 273, ../sass/base.sass */
.MathJax_Display span {
  color: #5f466a;
}

@media screen and (max-width: 1200px), screen and (max-device-width: 1200px) {
  /* line 277, ../sass/base.sass */
  html {
    font-size: 20px;
  }

  #app {
    flex-direction: column;
  }

  div#main {
    /*margin: 0 auto 0 auto;*/
    /*width: 80%;*/
    /*max-width: 500px;*/
    max-width: 80%;
  }

  .semifixed {
      position: unset;
  }

  /* line 281, ../sass/base.sass */
  h1 {
    font-size: 33px;
    margin-top: 10px;
  }

  /* line 284, ../sass/base.sass */
  #banner {
    height: 220px;
  }

  /* line 286, ../sass/base.sass */
  .button {
    width: auto;
  }

  /* line 288, ../sass/base.sass */
  p.navinfo {
    display: none;
  }

  /* line 292, ../sass/base.sass */
  div#content-container {
    float: none;
  }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
  html {
    font-size: 18px;
  }

  #app {
    flex-direction: column;
  }

  .semifixed {
    position: unset;
  }

  #banner {
    font-size: 2em;
    height: 120px;
  }

  h1 {
    font-size: 22px;
    border-bottom: 1px solid #000000;
  }

  h2 {
    font-size: 20px;
  }

  aside {
    font-size: 1.2em;
  }

  div#main {
    max-width: unset;
    width: 95%;
  }

  .ttext {
    font-size: 2rem;
  }
}
a, .button {
  cursor: url("/img/gam1390.cur"), auto;
}

a:link {
    color: black
}

a:visited {
    color: black
}

.output-wrapper {
    border: 1px solid black;
}

/* div.input_area { */
/*     font-size: 0.8rem; */
/*     border: 1px solid #cfcfcf; */
/*     border-radius: 4px; */
/*     background: #f7f7f7; */
/*     line-height: 1.21429em */
/* } */

/* Vue select styling */
.style-chooser .vs__search::placeholder {
    opacity: 0.4;
}

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
    /* background: #dfe5fb; */
    /* border: none; */
    /* color: #394066; */
    /* text-transform: lowercase; */
    /*font-variant: small-caps;*/
    font-family: var(--head-font-family);
    font-size: 0.8rem;
    /* font-style: italic; */
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
    cursor: var(--cursor-button);
}

.style-chooser ul, .style-chooser li {
    font-size: 0.8rem;
    cursor: var(--cursor-button) !important;
}

.annotation {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 0;
}

.gradback {
    background-image:
            linear-gradient(to right, var(--col1), var(--col2)),
            linear-gradient(to bottom left, var(--col3), var(--col4));
    background-attachment: fixed;
}
