@import url(http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 37, ../sass/base.sass */
html {
  font-size: 16pt;
}

/* line 40, ../sass/base.sass */
body {
  margin: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
  background-image: -moz-linear-gradient(top, #262626, #262626);
  background-image: -webkit-linear-gradient(top, #262626, #262626);
  background-image: linear-gradient(to bottom, #262626, #262626);
  position: relative;
  font-family: Lato, sans-serif;
}

/* line 49, ../sass/base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", cursive;
  text-shadow: none;
  color: #D5D5D5;
  text-indent: none;
}

/* line 55, ../sass/base.sass */
h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-style: bold;
}

/* line 59, ../sass/base.sass */
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.3em;
}

/* line 65, ../sass/base.sass */
h2 {
  font-weight: 400;
  font-size: 1.2em;
  font-style: italic;
  color: #FEC30A;
  line-height: 1.5em;
}

/* line 72, ../sass/base.sass */
h1 {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}

/* line 75, ../sass/base.sass */
.text_cell_render {
  color: #D5D5D5;
}

/* line 78, ../sass/base.sass */
p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  color: #D5D5D5;
  font-weight: 300;
}

/* line 86, ../sass/base.sass */
p > code {
  font-style: Courier;
  font-size: 0.9em;
  color: #D5D5D5;
}

/* line 91, ../sass/base.sass */
ul {
  list-style-type: circle;
}

/* line 94, ../sass/base.sass */
a {
  color: #80DBFF;
}

/* line 97, ../sass/base.sass */
div#main {
  margin: 0 auto 0 auto;
  width: 900px;
}

/* line 101, ../sass/base.sass */
aside {
  float: left;
  display: inline;
  width: 100px;
  padding: 0 30px 0 30px;
}
/* line 106, ../sass/base.sass */
aside li {
  font-family: Lato, sans-serif;
  font-size: 1em;
  color: #6f6f6f;
  display: block;
  text-align: right;
}
/* line 113, ../sass/base.sass */
aside li a {
  text-decoration: none;
  color: #6f6f6f;
  transition: color 0.5s;
}
/* line 118, ../sass/base.sass */
aside li a:hover {
  color: #FEC30A;
}

/* line 121, ../sass/base.sass */
ul {
  margin: 0;
  padding: 0;
}

/* line 129, ../sass/base.sass */
aside#right-aside {
  background-color: #FF0000;
  width: 100px;
}
/* line 132, ../sass/base.sass */
aside#right-aside li {
  text-align: left;
}

/* line 135, ../sass/base.sass */
footer {
  clear: left;
  display: block;
  width: 100%;
}

/* line 140, ../sass/base.sass */
#content-container {
  float: left;
  width: 700px;
  margin: 0 auto 0 auto;
  overflow: auto;
}

/* line 146, ../sass/base.sass */
.anchor-link {
  color: #404040;
}

/* line 149, ../sass/base.sass */
div#content {
  float: left;
  width: 100%;
}

/* line 153, ../sass/base.sass */
.left p, .right p {
  font-size: 0.9em;
  width: 10em;
}

/* line 157, ../sass/base.sass */
.left {
  float: left;
}

/* line 160, ../sass/base.sass */
.right {
  float: right;
}

/* line 163, ../sass/base.sass */
.button {
  font-size: 0.7em;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1290B6', endColorstr='#FF094759');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyOTBiNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA5NDc1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1290b6), color-stop(100%, #094759));
  background: -moz-linear-gradient(#1290b6, #094759);
  background: -webkit-linear-gradient(#1290b6, #094759);
  background: linear-gradient(#1290b6, #094759);
  -moz-box-shadow: #2bbeea 0 1px 0 inset;
  -webkit-box-shadow: #2bbeea 0 1px 0 inset;
  box-shadow: #2bbeea 0 1px 0 inset;
  border: 1px solid #073442;
  color: #FFF;
  text-shadow: #031a21 0 -1px 0;
  padding: 4px 4px 4px 4px;
  margin: 0;
  width: 150px;
  line-height: 2;
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 15, ../../../../../../.compass/extensions/Sassy-Buttons/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../.compass/extensions/Sassy-Buttons/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:hover {
  background-color: #073442;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwN2U5ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA3MzQ0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #107e9f), color-stop(100%, #073442));
  background: -moz-linear-gradient(#107e9f, #073442);
  background: -webkit-linear-gradient(#107e9f, #073442);
  background: linear-gradient(#107e9f, #073442);
}
/* line 39, ../../../../../../.compass/extensions/Sassy-Buttons/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button:active {
  -moz-box-shadow: #052934 0 1px 2px inset;
  -webkit-box-shadow: #052934 0 1px 2px inset;
  box-shadow: #052934 0 1px 2px inset;
}
/* line 6, ../../../../../../.compass/extensions/Sassy-Buttons/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.button.disabled, .button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #094759;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../.compass/extensions/Sassy-Buttons/stylesheets/_sassy-buttons.sass */
.button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 172, ../sass/base.sass */
.button:focus {
  outline: 0;
}

/* line 175, ../sass/base.sass */
#banner {
  width: 100%;
  margin: 3em auto 3em auto;
  text-align: center;
  overflow: hidden;
  font-family: Lato, cursive;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #262626));
  background-image: -moz-linear-gradient(top, #262626, #262626);
  background-image: -webkit-linear-gradient(top, #262626, #262626);
  background-image: linear-gradient(to bottom, #262626, #262626);
  color: #FEC30A;
}
/* line 183, ../sass/base.sass */
#banner .ttext {
  font-size: 2em;
  vertical-align: center;
}
/* line 186, ../sass/base.sass */
#banner .minstrel {
  font-size: 1em;
  color: #6f6f6f;
}
/* line 189, ../sass/base.sass */
#banner #leadin {
  font-family: Michroma, serif;
  font-style: italic;
  color: #CCBE29;
  font-size: 0.6em;
  line-height: 400%;
  padding: 0 6% 0 6%;
  overflow: hidden;
  float: left;
  text-align: center;
}

/* line 200, ../sass/base.sass */
svg {
  background: #FFFFFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-size: 8pt;
  width: 100%;
  height: 100%;
}

/* line 209, ../sass/base.sass */
.prompt {
  display: none;
}

/* line 213, ../sass/base.sass */
pre {
  color: #707070;
  font-size: 0.7em;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 220, ../sass/base.sass */
.MathJax_Display span {
  color: #80DBFF;
}

@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
  /* line 224, ../sass/base.sass */
  #banner {
    font-size: 0.7em;
    margin: 0em auto 0em auto;
  }

  /* line 228, ../sass/base.sass */
  div#main {
    width: 100%;
  }

  /* line 230, ../sass/base.sass */
  h1 {
    font-size: 2.6em;
  }

  /* line 234, ../sass/base.sass */
  .minstrel {
    display: none;
  }

  /* line 236, ../sass/base.sass */
  div#content-container {
    float: none;
    width: 95%;
    margin: 0px auto 0px auto;
  }

  /* line 240, ../sass/base.sass */
  aside {
    float: none;
    display: block;
    font-size: 1em;
    text-align: justify;
    width: 70%;
    margin: 0px auto 0px auto;
  }
  /* line 247, ../sass/base.sass */
  aside li {
    display: inline-block;
  }
  /* line 249, ../sass/base.sass */
  aside ul:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 500px), screen and (max-device-width: 500px) {
  /* line 255, ../sass/base.sass */
  #banner {
    font-size: 0.5em;
    margin: 0px auto;
    width: 100%;
  }
  /* line 259, ../sass/base.sass */
  #banner #leadin {
    width: 60px;
  }

  /* line 261, ../sass/base.sass */
  h1 {
    font-size: 2.5em;
  }

  /* line 263, ../sass/base.sass */
  aside {
    margin: 0 10px 20px 10px;
    font-size: 0.8em;
  }

  /* line 266, ../sass/base.sass */
  #content-container {
    width: 100%;
  }

  /* line 268, ../sass/base.sass */
  div#content {
    width: 100%;
  }
}
