@import url(http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);
/* line 25, ../sass/base.sass */
body {
  margin: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZmZmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefffc), color-stop(100%, #fdfffc));
  background-image: -moz-linear-gradient(top, #fefffc, #fdfffc);
  background-image: -webkit-linear-gradient(top, #fefffc, #fdfffc);
  background-image: linear-gradient(to bottom, #fefffc, #fdfffc);
  position: relative;
  font-size: 0.8em;
  font-family: Rajdhani, sans-serif;
}

/* line 35, ../sass/base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Medula One", cursive;
  text-shadow: none;
  color: #000433;
}

/* line 40, ../sass/base.sass */
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 51px;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0 0 23px 0;
}

/* line 48, ../sass/base.sass */
h2 {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  line-height: 23px;
  margin: 0 0 23px 0;
}

/* line 56, ../sass/base.sass */
h1 {
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}

/* line 59, ../sass/base.sass */
p {
  font-family: "Droid Serif", serif;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 23px 0;
  text-align: justify;
}

/* line 66, ../sass/base.sass */
div#main {
  float: left;
  width: 100%;
}

/* line 70, ../sass/base.sass */
aside {
  clear: left;
  float: left;
  display: inline;
  width: 10%;
  font-family: Oswald, sans-serif;
  font-size: 1.4em;
}
/* line 77, ../sass/base.sass */
aside li {
  color: #332F00;
  display: block;
  text-align: right;
}

/* line 82, ../sass/base.sass */
#content-container {
  float: left;
  display: inline;
  width: 80%;
  margin: 0 auto 0 3em;
}

/* line 89, ../sass/base.sass */
div#content {
  clear: left;
  float: right;
  -moz-column-width: 30em;
  -webkit-column-width: 30em;
  column-width: 30em;
}

/* line 94, ../sass/base.sass */
.left {
  float: left;
}

/* line 97, ../sass/base.sass */
.right {
  float: right;
}

/* line 100, ../sass/base.sass */
#banner {
  width: 100%;
  margin: 0.5em auto 0.5em auto;
  text-align: center;
  overflow: hidden;
  font-family: Yellowtail, cursive;
  font-size: 5em;
  color: #000;
}
/* line 109, ../sass/base.sass */
#banner .ttext {
  vertical-align: center;
}
/* line 111, ../sass/base.sass */
#banner #leadin {
  font-family: Michroma, serif;
  font-style: italic;
  color: #332F00;
  font-size: 0.6em;
  background: #f00;
  line-height: 400%;
  padding: 0 6% 0 6%;
  overflow: hidden;
  float: left;
  text-align: center;
}

/* line 127, ../sass/base.sass */
svg {
  background: #FFFFFF;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-family: Georgia, serif;
  font-size: 8pt;
  width: 100%;
  height: 100%;
}

/* line 138, ../sass/base.sass */
.prompt {
  display: none;
}

@media screen and (max-width: 760px) {
  /* line 143, ../sass/base.sass */
  body {
    font-size: 0.8em;
  }

  /* line 145, ../sass/base.sass */
  #banner {
    font-size: 45px;
    margin: 0em auto 0em auto;
  }

  /* line 148, ../sass/base.sass */
  aside {
    clear: left;
    float: none;
    font-size: 1.3em;
    text-align: justify;
  }
  /* line 153, ../sass/base.sass */
  aside li {
    display: inline-block;
  }
  /* line 155, ../sass/base.sass */
  aside ul:after {
    content: "";
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-top: thick double #ff0000;
  }
}
@media screen and (max-width: 400px) {
  /* line 164, ../sass/base.sass */
  body {
    font-size: 0.7em;
  }

  /* line 166, ../sass/base.sass */
  nav ul {
    padding: 2px;
  }

  /* line 168, ../sass/base.sass */
  #banner {
    margin: 10px auto;
    width: 90%;
  }
  /* line 171, ../sass/base.sass */
  #banner #leadin {
    width: 60px;
  }

  /* line 173, ../sass/base.sass */
  aside {
    margin: 0 10px 20px 10px;
  }

  /* line 176, ../sass/base.sass */
  div#content {
    width: 95%;
  }

  /* line 179, ../sass/base.sass */
  nav {
    display: none;
  }
}
